@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;

:root {
    --primary: '#88D656';
    --accent: '#E0FE9C';
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
    font-family: Season;
    src: url('./assets/fonts/Season/season-regular.otf') format("opentype");
    font-weight: 'normal';
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: Season;
    src: url('./assets/fonts/Season/season-light.otf') format("opentype");
    font-weight: 'light';
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: Season;
    src: url('./assets/fonts/Season/season-bold.otf') format("opentype");
    font-weight: 'bold';
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Season;
}

::selection {
    @apply bg-primary text-accent;
}

@tailwind components;

#hero {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center center;
}

@tailwind utilities;